USE [master]
GO
/****** Object:  Database [C:\USERS\ADMIN\DESKTOP\UPLOAD\TUNEMAX\TUNEMAX\APP_DATA\DATABASE.MDF]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE DATABASE [C:\USERS\ADMIN\DESKTOP\UPLOAD\TUNEMAX\TUNEMAX\APP_DATA\DATABASE.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'C:\Users\admin\Desktop\Upload\TuneMax\TuneMax\App_Data\Database.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'C:\Users\admin\Desktop\Upload\TuneMax\TuneMax\App_Data\Database_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\ADMIN\DESKTOP\UPLOAD\TUNEMAX\TUNEMAX\APP_DATA\DATABASE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\ADMIN\DESKTOP\UPLOAD\TUNEMAX\TUNEMAX\APP_DATA\DATABASE.MDF]
GO
/****** Object:  Table [dbo].[AccountSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountSet](
	[Username] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentSet](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CommentSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsGroupSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsGroupSet](
	[id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NewsGroupSet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsSet](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Abstract] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[NewsGroup_id] [uniqueidentifier] NOT NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NewsSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroupSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroupSet](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductGroupSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSet](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PriceInDollar] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NOT NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
	[ProductGroupId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProductSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopLists]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopLists](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[UsersUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ShopLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SliderSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SliderSet](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Href] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SliderSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UploadGroupSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadGroupSet](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UploadGroupSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UploadSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadSet](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[ContentLength] [bigint] NOT NULL,
	[Bytes] [varbinary](max) NOT NULL,
	[UploadGroupId] [uniqueidentifier] NOT NULL,
	[AccountUsername] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UploadSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersBaskets]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersBaskets](
	[Id] [uniqueidentifier] NOT NULL,
	[UsersUsername] [nvarchar](max) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UsersBaskets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersSet]    Script Date: 3/23/2017 2:00:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSet](
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Adress] [nvarchar](max) NOT NULL,
	[Job] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_FK_ProductComment]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductComment] ON [dbo].[CommentSet]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_NewsGroupNews]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_NewsGroupNews] ON [dbo].[NewsSet]
(
	[NewsGroup_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductGroupProduct]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductGroupProduct] ON [dbo].[ProductSet]
(
	[ProductGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductShopList]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductShopList] ON [dbo].[ShopLists]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UploadGroupUpload]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_UploadGroupUpload] ON [dbo].[UploadSet]
(
	[UploadGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductUsersBasket]    Script Date: 3/23/2017 2:00:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductUsersBasket] ON [dbo].[UsersBaskets]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentSet]  WITH CHECK ADD  CONSTRAINT [FK_ProductComment] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductSet] ([Id])
GO
ALTER TABLE [dbo].[CommentSet] CHECK CONSTRAINT [FK_ProductComment]
GO
ALTER TABLE [dbo].[NewsSet]  WITH CHECK ADD  CONSTRAINT [FK_NewsGroupNews] FOREIGN KEY([NewsGroup_id])
REFERENCES [dbo].[NewsGroupSet] ([id])
GO
ALTER TABLE [dbo].[NewsSet] CHECK CONSTRAINT [FK_NewsGroupNews]
GO
ALTER TABLE [dbo].[ProductSet]  WITH CHECK ADD  CONSTRAINT [FK_ProductGroupProduct] FOREIGN KEY([ProductGroupId])
REFERENCES [dbo].[ProductGroupSet] ([Id])
GO
ALTER TABLE [dbo].[ProductSet] CHECK CONSTRAINT [FK_ProductGroupProduct]
GO
ALTER TABLE [dbo].[ShopLists]  WITH CHECK ADD  CONSTRAINT [FK_ProductShopList] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductSet] ([Id])
GO
ALTER TABLE [dbo].[ShopLists] CHECK CONSTRAINT [FK_ProductShopList]
GO
ALTER TABLE [dbo].[UploadSet]  WITH CHECK ADD  CONSTRAINT [FK_UploadGroupUpload] FOREIGN KEY([UploadGroupId])
REFERENCES [dbo].[UploadGroupSet] ([Id])
GO
ALTER TABLE [dbo].[UploadSet] CHECK CONSTRAINT [FK_UploadGroupUpload]
GO
ALTER TABLE [dbo].[UsersBaskets]  WITH CHECK ADD  CONSTRAINT [FK_ProductUsersBasket] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductSet] ([Id])
GO
ALTER TABLE [dbo].[UsersBaskets] CHECK CONSTRAINT [FK_ProductUsersBasket]
GO
USE [master]
GO
