*{
    font-family:Tahoma;
}
body{
    direction:rtl;
    background-color:#f8b3b3;
    color:#310202;
    text-shadow:0 0 0.1em #ff0000;
    background-image:url('Private.jpg');
    margin:0;
    background-size:100em;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}
h1{
    font-weight:normal;
    font-size:inherit;
}
input[type="password"],input[type="text"],input[type="checkbox"],input[type="submit"],a,select,textarea,input[type="file"]{
    transition-duration:.1s;
    transition-timing-function:linear;
    color:#ffffff;
    text-shadow:0 0 0.1em #fcf3f3;
    border-width:0;
    padding:0.5em;
    border-radius:0.3em;
    /*background color*/
    background: rgb(248,80,50);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NTAzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNmY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MjkwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2YwMmYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzM4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
    text-decoration:none;
}
input[type="submit"]:hover,a:hover{
    background: rgb(169,3,41);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
    background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    box-shadow:0 0 1em #fcf3f3;
    cursor:pointer;
}
.display-label ,.editor-label{
    background-color:rgb(250, 246, 246);
    background-color:rgba(247, 242, 241, 0.50);
    text-shadow:0 0 .1em rgb(255, 255, 255);
    color:rgba(109,0,25,1);
    border-radius:.1em;
    display:inline-block;
}
/*******************************************************/
.main{
    width:70em;
    margin:0 auto 0 auto;
    border-radius:0.5em;
    padding:4em;
    border-width:0.1em;
    background-color:white;
    border-style:solid;
    border-color:rgb(255, 0, 0);
    background-color:white;
    background-color:rgba(255, 255, 255, 0.90);
}
.container{
    width:100%;
    display:table;
    vertical-align:top;
}
.menu{
    width:76em;
    margin-right:-4em;
    padding:1em;
    background: rgb(243,197,189);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzYzViZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U4NmM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhMjgwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmNjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzIyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1)));
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    text-align: center;
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-8 */
}
.header{
    width:76em;
    padding:1em;
    min-height:12em;
    background-image:url('header.jpg');
    background-size:80em;
    margin-top:-4em;
    margin-right:-4em;
    background-repeat:no-repeat;
    background-position:center;
}
.menu a{
    display:inline-block;
    min-width:5em;
    text-align:center;
    font-size: .9em;
}
.content{
    vertical-align:top;
    background-color:rgba(255, 255, 255, 0.95);
    box-shadow:0 0 0.1em rgb(248,80,50);
    display:table-cell;
    border-right:0.1em dashed rgb(49, 1, 1); 
    padding-top:3em;
    padding-bottom:3em;
}
.toolbox{
    vertical-align:top;
    width:20%;
    display:table-cell;
    background-color:rgb(51, 0, 0);
    border-radius:.2em;
    text-align:center;
    padding-top:.5em;
    padding-bottom:.5em;
    color:rgb(245, 240, 240);
    text-shadow:0 0 .3em rgb(237, 226, 224);
    box-shadow:.5em .5em 1em rgb(248,80,50);
}

.toolbox div a{
    display:block;
    font-size:small;
}
.footer{
    font-size:x-small;
    text-align:center;
    margin:0 auto 0 auto;
    width:100%;
}
.box{
    box-shadow:#600505;
    border-radius:1em;
    background-color:#1d0202;
    text-shadow:0 0 0.1em #ffffff;
    color:#fae8e8;
    padding:1.5em;
}
.login{
    width:20em;
    text-align:center;
    margin:0 auto 0 auto;
    display:block;
}
/**************************************/
.gv{
    background-color:rgb(239, 194, 186);
    color:rgb(255, 0, 0);
    text-shadow:0 0 .5em rgb(252, 249, 249);
    width:100%;
}
.gv td{
    padding-top:1em;
    padding-bottom:1em;
    padding-right:.5em;
}
.gv tr:nth-child(2n+1){
    background-color:rgba(109,0,25,1);
    color:rgb(248, 245, 245);
}
.gv tr:nth-child(2n){
    color:rgba(109,0,25,1);
    background-color:rgb(248, 245, 245);
}
.gv tr:first-of-type{
    background-color:inherit;
    color:inherit;
}
.gv tr:first-of-type:hover{
    background-color:inherit;
    color:inherit;
}
.gv tr:hover{
    color:#fcf3f3;
    background-color:rgb(25, 1, 1);
}
/**************************************/
fieldset{
    background-color:rgb(254, 207, 183);
    margin-bottom:1em;
    color:rgb(40, 0, 0);
    text-shadow:0 0 .1em rgb(241, 237, 236);
}
fieldset legend{
    border-radius:.5em;
    color:rgb(250, 248, 247);
    background-color:rgb(40, 0, 0);
    padding:.5em;
}
/*************************************/
.display-field img{
    width:10em;
    margin:0 auto 0 auto;
    display:block;
}